*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body{
    height: 100%;
    width: 100%;
    background-color: white
}
.form-label
{
    font-weight: bold;
    font-size: 1.05rem;
}
.cp_main
{
    position: absolute;
    background-color: whitesmoke;
    width: 81%;
    height: 93%;
    left: 19%;
    top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cp_wrapper{
    width: 40%;
    height: fit-content;
    background-color: rgba(159, 207, 255, 0.8);
    border-radius: 8px;
    padding: 1.3rem 2rem;
}
.bg-success
{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.cp_question
{
    margin-bottom: 1rem;
}
.cp_form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.submit_btn
{
    padding: .5rem 1rem;
    width: 40%;
    align-self: center;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    background-color:var(--primary-color);
    transition: .3s;
    border: 1px solid white;
}
.submit_btn:hover{
    cursor: pointer;
    width:50%;
    background-color: var(--primary-color-alt);
    color: var(--text-dark-color);
}
.cp_heading
{
    font-size: 1.05rem;
    margin-bottom: .7rem;
}
.cp-item{
    margin-bottom: .5rem;
}