{%load static%}
<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Calendar</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
    {% comment %} <link rel="stylesheet" href="{%static 'assets/css/calendar.css'%}"> {% endcomment %}
    <link rel="stylesheet" href="{%static 'assets/Css/calendar.css'%}">
    
    
    
</head>
<body>
    
   {%include 'Nav_Sidebar.html'%}
<div class="container">
 <div class="row">
    <div class="col-md-12">    
        <div id='calendar'></div> 
    </div>
 </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
var calendar = new FullCalendar.Calendar(calendarEl, {
  initialView: 'dayGridMonth',
  events: '{{ events }}',
  eventClassNames: function({ event, isPast }) {
    let classNames = [];

    if (event.extendedProps.className === 'attendance') {
      classNames.push('fc-attendance-event');

      switch (event.extendedProps.status) {
        case 'present':
          classNames.push('fc-attendance-present');
          break;
        case 'late':
          classNames.push('fc-attendance-late');
          break;
        case 'leave':
          classNames.push('fc-attendance-leave');
          break;
        case 'absent':
          classNames.push('fc-attendance-absent');
          break;
        default:
          break;
      }
    }

    if (isPast) {
      classNames.push('fc-past-event');
    }

    return classNames;
  }
});

calendar.render();

      });
    var events = '{{ events|safe }}';
   $(document).ready(function () {
    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            
        },
        events: JSON.parse(events),
        selectable: false,
        
        
        eventLimit: true,
        contentHeight: {{width}}-20,
        contentWidth: 100,
        fixedWeekCount: false,
           visibleRange: function(currentDate) {
            return {
                start: moment(currentDate).startOf('month'),
                end: moment(currentDate).startOf('month').add(4, 'weeks').endOf('week')
            };
        },})})
           
 
</script>
</body>
</html>