<head>
    <title>Chart: {{month_name}}</title>
</head>
<body>
<h1>Generate a Chart</h1>
    <form action="{% url 'generate_chart' %}" method="get">
      <label for="year">Year:</label>
      <input type="number" id="year" name="year" required>
      <label for="month">Month:</label>
      <input type="number" id="month" name="month" min="1" max="12" required>
      <input type="submit" value="Generate">
<div class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          <div class="card">
              <div class="card-body">
                  <div class="text-center">
                      <h5 class="card-title">Attendance Chart</h5>
                  </div>
                  <div id="chart" style="height: 400px;"></div>
              </div>
          </div>
      </div>
  </div>
</div>

<h3>Score for {{month_name}} : {{average_score|floatformat:2}}</h3>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  // Define the data for the pie chart
  
  var data = [{
      values: {{ values| safe }},
      labels: {{ labels| safe }},
      type: 'pie'
  }];

  // Define the layout for the pie chart
  var layout = {
    height: 400,
    margin: {
          l: 0,
          r: 0,
          b: 0,
          t: 0
      }
  };

  // Render the pie chart in the 'chart' div
  Plotly.newPlot('chart', data, layout);
</script>
</body>