{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'assets/css/home.css'%}">
    <title>Home</title>
</head>
<body>
        {% include 'Nav_Sidebar.html' %}
        <div class="container hero-section">
            <div class="grid-container">
                <div class="item right">
                    <!-- <div class="flexbox-container"> -->
                    <div class="flexbox clock">
                        <h4>Clock</h4>
                        <div class="watch">
                            <span id="hours">00</span>
                            <span>:</span>
                            <span id="minutes">00</span>
                            <span>:</span>
                            <span id="seconds">00</span>
                            <span id="sessions">AM</span>
                        </div>
                    </div>
                    <div class="flexbox works">
                        <p>Total hrs Worked Today</p>
                        <div class="flexbox work-time">
                            <span id="hrs">{{hours}}hr</span>
                            <span> : </span>
                            <span id="mins">{{minutes}}min</span>
                            <span> : </span>
                            <span id="secs">{{seconds}}s</span>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="item left ">
                    <div class="notice-head">
                        <h4 class="h2-title">Notices</h4>
                    </div>
                    <div class="boxes-content">
                        <div class="content">
                            <div class="notice-title">
                                <h4>{{notices.0.title}}</h4>
                            </div>
                            <div class="date">{{notices.0.created_at|date:"Y/m/d"}}
                            </div>
                        </div>
                        <div class="content meet">
                            <div class="notice-title">
                                <h4>{{notices.1.title}}</h4>
                            </div>
                            <div class="date">{{notices.1.created_at|date:"Y/m/d"}}
                            </div>
                        </div>
                        <div class="content holi">
                            <div class="notice-title">
                                <h4>{{notices.2.title}}</h4>
                            </div>
                            <div class="date">{{notices.2.created_at|date:"Y/m/d"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item bottom">
                    <div class="atten-title">
                        <h4 class="h2-title">Attendance <br> Records</h4>
                    </div>
                    <div class="footer">
                        <div class="good-items A">
                            <div class="atten-status">
                                <h4>Absent</h4>
                            </div>
                            <div class="date">
                                {{absent_count}}
                            </div>
                        </div>
                        <div class="good-items P">
                            <div class="atten-status">
                                <h4>Present</h4>
                            </div>
                            <div class="date">
                                {{present_count}}
                            </div>
                        </div>
                        <div class="good-items L">
                            <style>
                            </style>
                            <div class="atten-status">
                                <h4>Late</h4>
                            </div>
                            <div class="date">
                                {{late_count}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script src="{%static 'assets/js/home.js'%}"></script>
</body>
</html>